body,
html {
  height: 100%;
  margin: 0;
  overflow: auto;
}

* {
    margin: 0;
    padding: 0;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr;
    height: 100%;
}

.navbar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: lightgray;
}

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2; 
    background-color: lightseagreen;
}

.projects {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightcoral;
}

.announcements {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: lightcyan;
}